**Q1.Write a Code to Reverse a String**

In [ ]:
st="Hello I am a Student"
print(f"Original String : {st} \n Reversed Form : {st[::-1]}")

Original String : Hello I am a Student
 Reversed Form : tnedutS a ma I olleH

**Q2. Write a code to count the Number of Vowels in a String**

In [ ]:
d={}; s="My name is Abir and I am a Data Science student"
d=d.fromkeys(('a','e','i','o','u'),0)   # creates a dict with individual keys as letters of the vowel and assigning a default value of count 0 for each vowel
for i in (('a','e','i','o','u')):  # iterates over the tuple of vowels
  d[i]=d[i]+s.count(i)   # counts the frequency of each vowel in the input string

print(f"Vowels\t\tCount")  #printing vowels and their frequency
for i in d.keys():
  print(f"{i}\t\t\t{d[i]}")

Vowels		Count
a			6
e			4
i			3
o			0
u			1

**Q3. Write a code to check if a given String is Palindrome or not**

In [ ]:
st=("ARORA","APPLE")  # A tuple of sample strings to check out for Palindrome
for i in st:
  if(i.lower()==i[::-1].lower()): # condition to check for Palindrome
    print(f"The string {i} is PALINDROME ")
  else:
    print(f"The String {i} is NOT PALINDROME ")

The string ARORA is PALINDROME
The String APPLE is NOT PALINDROME

**Q4. Write a code to check if two given strings are Aanagarms of each other**

In [ ]:
st=[("Apple","eAlpp"),("bad","dad"),("rat","tar")]  # a list contating a pair of string to check for Aanagrams
j=[];k=[]
for i in st: # loop to iterate over the sample strings
  j=list(i[0]);k=list(i[1]); j.sort() ; k.sort()   #convert the sample string to list and sorts them
  if(j==k): #condition to check for ANAGRAMS
    print(f"{i[0]} and {i[1]} are ANAGRAMS of Each other ")
  else:
    print(f"{i[0]} and {i[1]} are NOT ANAGRAMS of Each other ")

Apple and eAlpp are ANAGRAMS of Each other
bad and dad are NOT ANAGRAMS of Each other
rat and tar are ANAGRAMS of Each other

**Q5. Write a code to find all occurrences of a given substring within another string**

**Q6. Write a code to perfrom basic string compression using the count of repeated character**

**Q7. Write a code to determine if a string has all unique character**

In [ ]:
st=("sky","apple","open","banana")  #tuple of sample strings to check for unique characters
for i in st:
  if((len(list(i)))==(len(set(i)))):   #condition to check for unique character
    print(f"The string {i} has all Unique Characters")
  else:
    print(f"The string {i} has Non-Unique Characters")

The string sky has all Unique Characters
The string apple has Non-Unique Characters
The string open has all Unique Characters
The string banana has Non-Unique Characters

**Q8. Write a code to convert a Given string to Upper Case or Lower Case**

In [ ]:
s="Hello I am a aspiring Data Science student in PW Skiils"
print(f"The given string -> {s} to Lower Case --> {s.lower()}")
print(f"The given string -> {s} to Upper Case --> {s.upper()}")

The given string -> Hello I am a aspiring Data Science student in PW Skiils to Lower Case --> hello i am a aspiring data science student in pw skiils
The given string -> Hello I am a aspiring Data Science student in PW Skiils to Upper Case --> HELLO I AM A ASPIRING DATA SCIENCE STUDENT IN PW SKIILS

**Q9. Write a code to count the number of words in a String**

In [ ]:
s="""Hello all my cat name is Zophie.Zophie is a persian cat brought from Canada under full documentation.
Zophie likes to eat fish,milk."""
t="";count=0;lst=[];

for i in s:
  if(i!=' ' and i!='\n' and i!='!' and i!=',' and i!=':' and i!='.' and i!=';'):
    t=t+i   # extracts out each word from the string
  else:
    lst.append(t);t=""  # appends all the words into the list

for i in ('',' '):
    for j in range(lst.count(i)):
        lst.remove(i)  #removes any extra unnecessary "" or " " if entered the list
print(f"The Total Number of Words in the String are : {len(lst)}")

The Total Number of Words in the String are : 24

**Q10. Write a code to concatinate two Strings without using the plus(+) operator**

In [ ]:
s1="Hello Data Science Student ! From where you are studying data science ?"
s2="PW skills is guiding and supporting me to become a Data Scientist"

lst1=[];lst2=[]   # craeting two empty list
lst1=list(s1);lst2=list(s2);lst1.extend(lst2)  # converting the two strings to list and then extending the 1st list with the 2nd One

print(f"""Concatinating two strings without + operator ---> "{"".join(lst1)}" """)

Concatinating two strings without + operator ---> "Hello Data Science Student ! From where you are studying data science ?PW skills is guiding and supporting me to become a Data Scientist"

**Q11. Write a code to remove all ocurrence of a specific element from a list**

In [ ]:
lst=[14, 12, 11, 14, 13, 11, 12, 14, 11, 11, 11, 15, 11, 15, 14, 13, 14, 15, 11, 13, 13, 14, 14, 14, 14] # a random list with repeated integer elements
target=11 # a target element to remove its ocurrence from the list

print(f"List Before removal of target element-->{target} : {lst} ")

if(target in lst):  # to check if the target element exists in the List or not
  for i in range(lst.count(target)):
    lst.remove(target)   #removing all the occurrence of the target element
  print(f"List After removal of target element-->{target} : {lst} ")
else :
  print(f"Target element {target} not present in list")

List Before removal of target element-->11 : [14, 12, 11, 14, 13, 11, 12, 14, 11, 11, 11, 15, 11, 15, 14, 13, 14, 15, 11, 13, 13, 14, 14, 14, 14]
List After removal of target element-->11 : [14, 12, 14, 13, 12, 14, 15, 15, 14, 13, 14, 15, 13, 13, 14, 14, 14, 14]

**Q12. Implement a code to find the 2nd Largest number in the given list of Integers**

In [ ]:
lst=[25, 28, 18, 27, 12, 23, 12, 24, 29, 22, 19, 15, 11, 19, 28, 20, 27, 22, 19, 29, 21, 11, 24, 23, 24, 22, 28, 16, 14, 15] #List of integer elements
s=set(lst)  #converts the list to set
s.remove(max(lst))  # removes the maximum elemnt from the set
print(f"The 2nd Largest Element in the list {lst} is ---> {max(s)}")

The 2nd Largest Element in the list [25, 28, 18, 27, 12, 23, 12, 24, 29, 22, 19, 15, 11, 19, 28, 20, 27, 22, 19, 29, 21, 11, 24, 23, 24, 22, 28, 16, 14, 15] is ---> 28

**Q13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.**

In [ ]:
lst=[25, 28, 18, 27, 12, 23, 12, 24, 29, 22, 19, 15, 11, 19, 28, 20, 27, 22, 19, 29, 21, 11, 24, 23, 24, 22, 28, 16, 14, 15 , 11] #List of integer elements
di={}; di=di.fromkeys(set(lst),0)  # craeting keys for the dict by taking all the unique elemnts from the list

for i in (di.keys()):
  di[i]=di[i]+lst.count(i)   # For loop to count the occurence of each keys

print(f"Elements\t\tCount")
for i in di.keys():
  print(f"{i}\t\t\t{di[i]}")

Elements		Count
11			3
12			2
14			1
15			2
16			1
18			1
19			3
20			1
21			1
22			3
23			2
24			3
25			1
27			2
28			3
29			2

**Q14 Write a code to reverse a list in-place without using any built-in reverse functions.**

In [ ]:
lst=[complex(4,23),22, 16, 29, 18, 28, 23, "Bob", 22, 18, 16, 12, 18, 18, 28, 15, 23 , "Bob" ,"CAT"] # List of various elemnts

print(f"Before Reverse --> {lst}")
for i in range(len(lst)//2):
  t=lst[i]                                   #Logic for In-Place reverse
  lst[i]=lst[len(lst)-i-1]
  lst[len(lst)-i-1]=t
print(f"After Reverse --> {lst}")

Before Reverse --> [(4+23j), 22, 16, 29, 18, 28, 23, 'Bob', 22, 18, 16, 12, 18, 18, 28, 15, 23, 'Bob', 'CAT']
After Reverse --> ['CAT', 'Bob', 23, 15, 28, 18, 18, 12, 16, 18, 22, 'Bob', 23, 28, 18, 29, 16, 22, (4+23j)]

**Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.**

In [ ]:
lst=[complex(4,23),22, 16, 29, 18, 28, 23, "Bob", 22, 18, 16, 12, 18, 18, 28, 15, 23 , "Bob" ,"CAT"]
lst.reverse()

print(f"Before removal of duplicate --> {lst}")
for i in lst:
  if(lst.count(i)>1):  # remove only the duplicate elements
    for j in range(lst.count(i)-1):
      lst.remove(i)  # removal of the duplicate or extra elements of the same value
lst.reverse()
print(f"After removal of duplicate -->{lst}")

Before removal of duplicate --> ['CAT', 'Bob', 23, 15, 28, 18, 18, 12, 16, 18, 22, 'Bob', 23, 28, 18, 29, 16, 22, (4+23j)]
After removal of duplicate -->[(4+23j), 22, 16, 29, 18, 28, 23, 'Bob', 12, 15, 'CAT']

**Q16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.**

In [ ]:
tu=([14, 15, 17, 17, 19, 19, 19],[17, 18, 16, 18, 18, 18, 15],[19, 18, 17, 14, 14])  # A tuple of sample list to test for Ascending or Descending or shuffled

for i in tu:
  t=i.copy();t.sort()   # creates a copy of the list and sorts is Ascendingly
  print(i,end='--->')
  if(i==t):   # checks for Ascending order sort
    print("Sorted Ascending Order")
  else:
    t.sort(reverse=True)  #sorts list in Descending order
    if(i==t):  # checks for Descending order sort
      print("Sorted Descending Order")
    else:
      print("Shuffled Order")

[14, 15, 17, 17, 19, 19, 19]--->Sorted Ascending Order
[17, 18, 16, 18, 18, 18, 15]--->Shuffled Order
[19, 18, 17, 14, 14]--->Sorted Descending Order

**Q17. Write a code to merge two sorted lists into a single sorted list.**

In [ ]:
lst1 , lst2 = [13, 15, 16, 18, 18, 18, 19],[5, 5, 7, 7, 8, 10, 12]
print(f"List1-->{lst1}\nList2-->{lst2}")
lst1.extend(lst2); lst1.sort()   #Merging and sorting of two sorted list
print(f"Merged Sorted List-->{lst1}")

List1-->[13, 15, 16, 18, 18, 18, 19]
List2-->[5, 5, 7, 7, 8, 10, 12]
Merged Sorted List-->[5, 5, 7, 7, 8, 10, 12, 13, 15, 16, 18, 18, 18, 19]

**Q18. Implement a code to find the intersection of two given lists.**

In [ ]:
lst1 , lst2 = ['a', 'f', 'g', 'i', 'k', 'q', 'r', 'u', 'y', 'z'],['c', 'd', 'h', 'r', 't', 'v', 'w']
if(lst1==[] or lst2==[]):
  print("Intersection ---> PHI/EMPTY")
else:
  print(f"Intersecting List Items : ")
  for i in lst2:
    if(i in lst1):
      print(f"{(print(i)for _ in range(min(lst1.count(i),lst2.count(i))))}")

Intersecting List Items :
<generator object <genexpr> at 0x780aebeadee0>

**Q19. Create a code to find the union of two lists without duplicates**

In [ ]:
lst1=[complex(4,23),22, 16, 25, 18, 28, 23, "Bob", 22, 18, 16, 12, 19, 18, 28, 15, 27 , "Bob" ,"CAT"]
lst2=[25, 27, 15, 19, 25, 25, 25 , "Ball"]
print(f"List1-->{lst1}\nList2-->{lst2}\nUNION without duplicate-->{list(set(lst1) | set(lst2))}")  # Union of two list

List1-->[(4+23j), 22, 16, 25, 18, 28, 23, 'Bob', 22, 18, 16, 12, 19, 18, 28, 15, 27, 'Bob', 'CAT']
List2-->[25, 27, 15, 19, 25, 25, 25, 'Ball']
UNION without duplicate-->['Ball', 'Bob', (4+23j), 12, 15, 16, 'CAT', 18, 19, 22, 23, 25, 27, 28]

**Q20 Write a code to shuffle a given list randomly without using any built-in shuffle functions.**

**Q21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.**

In [ ]:
t1,t2=(25, 26, 17, 22, 20, 25, 22, 23, 27, 16,"Mat","Bat"),(16, 22, 27, 21, 21, 21, 15, 25, 19, 16, 26, 21, 27, 20, 20, 25,"Bob","Cat","Bat")
print(f"Tuple1-->{t1}\nTuple2-->{t2}\nCommon Elements-->{tuple(set(t1) & set(t2))}")  #intersection of two tuple

Tuple1-->(25, 26, 17, 22, 20, 25, 22, 23, 27, 16, 'Mat', 'Bat')
Tuple2-->(16, 22, 27, 21, 21, 21, 15, 25, 19, 16, 26, 21, 27, 20, 20, 25, 'Bob', 'Cat', 'Bat')
Common Elements-->('Bat', 16, 20, 22, 25, 26, 27)

**Q22  Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.**

In [ ]:
s1,s2=set({}),set({})
for i in range(int(input("Enter a  Limit for the Set 1 length : "))):
  s1.add(int(input("Enter an Integer : ")))

for i in range(int(input("Enter a  Limit for the Set 2 length : "))):
  s2.add(int(input("Enter an Integer : ")))

print(f"Set1-->{s1}\nSet2-->{s2}\nIntersection-->{s1 & s2}")  # Intersection of Two Sets

Enter a  Limit for the Set 1 length : 5
Enter an Integer : 78
Enter an Integer : 12
Enter an Integer : 55
Enter an Integer : 45
Enter an Integer : 96
Enter a  Limit for the Set 2 length : 3
Enter an Integer : 96
Enter an Integer : 55
Enter an Integer : 102
Set1-->{96, 12, 45, 78, 55}
Set2-->{96, 102, 55}
Intersection-->{96, 55}

**Q23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.**

In [ ]:
t1,t2=(25, 26, 17, 22, 20, 25, 22, 23, 27, 16,"Mat","Bat"),(16, 22, 27, 21, 21, 21, 15, 25,20, 20, 25,"Bob","Cat","Bat")

def Modify_Tuple(tuple1,tuple2):
  return(tuple1+tuple2)   # Merge/Concatinate both tuples
print(f"Tuple1-->{t1}\nTuple2-->{t2}\nNew Tuple-->{Modify_Tuple(t1,t2)}")

Tuple1-->(25, 26, 17, 22, 20, 25, 22, 23, 27, 16, 'Mat', 'Bat')
Tuple2-->(16, 22, 27, 21, 21, 21, 15, 25, 20, 20, 25, 'Bob', 'Cat', 'Bat')
New Tuple-->(25, 26, 17, 22, 20, 25, 22, 23, 27, 16, 'Mat', 'Bat', 16, 22, 27, 21, 21, 21, 15, 25, 20, 20, 25, 'Bob', 'Cat', 'Bat')

**Q24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.**

In [7]:
s1,s2=set({}),set({})
for i in range(int(input("Enter a  Limit for the Set 1 length : "))):
  s1.add((input("Enter an String : ")))
for i in range(int(input("\nEnter a  Limit for the Set 2 length : "))):
  s2.add((input("Enter an String : ")))

print(f"Set1-->{s1}\nSet2-->{s2}\nSet Difference-->{s1 - s2}")   #Set difference S1-S2

Enter a  Limit for the Set 1 length : 5
Enter an String : kk
Enter an String : op
Enter an String : ll
Enter an String : mm
Enter an String : nn

Enter a  Limit for the Set 2 length : 4
Enter an String : kk
Enter an String : k
Enter an String : op
Enter an String : ol
Set1-->{'ll', 'mm', 'kk', 'op', 'nn'}
Set2-->{'op', 'k', 'ol', 'kk'}
Set Difference-->{'mm', 'll', 'nn'}

**Q25 Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.**

In [ ]:
a,b=7,11
t=(16, 22, 27, 21, 21, 21, 15, 25,20, 20, 25,"Bob","Cat","Bat")

def Index_Range(tup,id1,id2):
  if(len(tup)>=id1 and len(tup)>=id2):
    return(tup[min(id1,id2):max(id1,id2)])
  else:
    print("Return of tuple within specified Index Not possible due to out of Index Issue")

print(f"Elements within specified range of indices-->{Index_Range(t,a,b)}")

Elements within specified range of indices-->(25, 20, 20, 25)

**Q26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.**

In [ ]:
s1,s2=set({}),set({})
for i in range(int(input("Enter a  Limit for the Set 1 length : "))):
  s1.add((input("Enter a Character : ")))

for i in range(int(input("Enter a  Limit for the Set 2 length : "))):
  s2.add((input("Enter a Character: ")))

print(f"Set1-->{s1}\nSet2-->{s2}\nUnion -->{s1 | s2}")  # Union of of Two Character Sets

Enter a  Limit for the Set 1 length : 5
Enter a Character : a
Enter a Character : v
Enter a Character : g
Enter a Character : i
Enter a Character : o
Enter a  Limit for the Set 2 length : 3
Enter a Character: o
Enter a Character: p
Enter a Character: i
Set1-->{'a', 'i', 'v', 'o', 'g'}
Set2-->{'o', 'p', 'i'}
Intersection-->{'g', 'i', 'o', 'v', 'p', 'a'}

**Q27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.**

**Q28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.**

In [2]:
s1,s2={15, 16, 17, 18, 19, 20, 21, 22, 23, 24},{16, 18, 19, 21, 22, 23, 24}

print(f"Set1-->{s1}\nSet2-->{s2}\nUnion-->{s1|s2}\nIntersection-->{s1 & s2}\nDifference-->{s1-s2}")

Set1-->{15, 16, 17, 18, 19, 20, 21, 22, 23, 24}
Set2-->{16, 18, 19, 21, 22, 23, 24}
Union-->{15, 16, 17, 18, 19, 20, 21, 22, 23, 24}
Intersection-->{16, 18, 19, 21, 22, 23, 24}
Difference-->{17, 20, 15}

**Q29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.**

In [6]:
def Present(tup,num):
  if(num not in tup):
    print(f"The Element {num} is not present in the Tuple")
  else:
    print(f"The number of ocurrence of the element {num} in the Tuple--> {tup.count(num)}")

tup=(16, 22, 27, 21, 21, 21, 15, 25,20, 20, 25);num=21
Present(tup,num)

The number of ocurrence of the element 21 in the Tuple--> 3

**Q30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets**

In [8]:
s1,s2=set({}),set({})
for i in range(int(input("Enter a  Limit for the Set 1 length : "))):  # Takes input for set 1
  s1.add((input("Enter an String : ")))
for i in range(int(input("\nEnter a  Limit for the Set 2 length : "))): #Takes input for set 2
  s2.add((input("Enter an String : ")))

print(f"Set1-->{s1}\nSet2-->{s2}\nSymetricj Difference-->{s1 ^ s2}")   #Symmetric difference XOR

Enter a  Limit for the Set 1 length : 6
Enter an String : op
Enter an String : lk
Enter an String : io
Enter an String : pe
Enter an String : tk
Enter an String : ff

Enter a  Limit for the Set 2 length : 4
Enter an String : op
Enter an String : i
Enter an String : io
Enter an String : jk
Set1-->{'ff', 'tk', 'io', 'pe', 'lk', 'op'}
Set2-->{'op', 'io', 'jk', 'i'}
Symetric Difference-->{'ff', 'jk', 'i', 'tk', 'pe', 'lk'}

**Q31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.**

In [9]:
def Frequency(lt):
  d={}; d=d.fromkeys(set(lst),0)
  for i in (d.keys()):
    d[i]=d[i]+lt.count(i)
  return d

lst=["Apple","Bob","Cat","Eggs","Bob","Apple","Nokia","Nokia","eggs","Mat","Bat","Pizza","Ice"]
print(f"Words\t\tCount"); di=Frequency(lst)
for i in di.keys():
  print(f"{i}\t\t\t{di[i]}")

Words		Count
Ice			1
Nokia			2
Bat			1
Cat			1
eggs			1
Pizza			1
Eggs			1
Bob			2
Mat			1
Apple			2

**Q32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.**

In [11]:
di1={"Name":"Bob","Age":21,"Weight":52,"Country":'India'};di2={"Job":"SDE","Salary":52000,"Country":"USA","Weight":63};  # Two sample dictonary
for i in di1.keys():
  if(i in di2.keys()):  # Logic to merge common keys
    di1[i]=[di1[i]]+[di2[i]]
print(di1)

{'Name': 'Bob', 'Age': 21, 'Weight': [52, 63], 'Country': ['India', 'USA']}

**Q33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.**

In [ ]:
users = {
  "alice": {
    "name": "Alice Jones",
    "email": "alice.jones@example.com",
    "interests": ["programming", "music"]
  },
  "bob": {
    "name": "Bob Smith",
    "email": "bob.smith@example.com",
    "interests": ["sports", "reading"]
  }
}
# def Access(di,lst):

**Q34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.**

In [12]:
def Sort_Dict(di):
  lst=list(di.values()); lst.sort() ; d={}
  for i in lst:
    for j in di.keys():
      if(i == di[j]):
        d[j]=i
  return d

di={"Weight":45,"Height":5.2,"BMI":55,"Oxygen Level":20}
print(f"Sorted Dict {Sort_Dict(di)}")

Sorted Dict {'Height': 5.2, 'Oxygen Level': 20, 'Weight': 45, 'BMI': 55}

**Q35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.**

In [10]:
def fun(d):
  di={} ; lst=set(d.keys()) ; di=di.fromkeys(set(d.values()),[]) ;
  for i in d.items():
    di[i[1]]=di[i[1]]+[i[0]]
  return di

di={"Weight":53,"Height":5.2,"BMI":52,"Vision":-1.5,"Oxygen Level":52,"Bone density":5.2}
#fun(di)
print(f"Original Dictonary --> {di}\nInverted Dictonary --> {fun(di)}")

Original Dictonary --> {'Weight': 53, 'Height': 5.2, 'BMI': 52, 'Vision': -1.5, 'Oxygen Level': 52, 'Bone density': 5.2}
Inverted Dictonary --> {5.2: ['Height', 'Bone density'], 52: ['BMI', 'Oxygen Level'], 53: ['Weight'], -1.5: ['Vision']}